* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  font-family: sans-serif;
}

.calender-container {
  display: flex;
  flex-direction: column;
  max-width: min(min-content, 300px);
  border: 1px solid red;
}

.month-changer {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.days-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  place-items: center;
  gap: 3px;
}

.day {
  width: 30px;
  height: 30px;
  border-radius: 5px;
}

.today {
  outline: 1px solid tomato;
}

.active-day:hover {
  cursor: pointer;
}

.empty-day {
  opacity: 0;
}

#pre-month,
#next-month {
  width: 25px;
  height: 25px;
  fill: rgba(0, 0, 0, 0.616);
}
#pre-month:hover,
#next-month:hover {
  cursor: pointer;
}
